#video, #canvas {
  position  : absolute;
  top       : 76px;
  margin    : 0;
  padding   : 0;
  box-sizing: border-box;
}

#video {
  z-index: 999;
  opacity: 1;
  top    : 90px;
  left   : 0;
  background: #000;
}

#canvas {
  z-index: 9999;
  box-sizing: border-box;
  background: transparent;
}

demo-content {

}