demo-header,
demo-content,
demo-bold-text,
demo-button-options, {
  display    : flex;
  user-select: none;
}

demo-header {
  align-items    : center;
  justify-content: space-around;
  flex           : 0 1 100%;
  background     : $fallback-color;
  background     : linear-gradient(
                      rgba(255, 255, 255, 0.7), 
                      rgba(255, 255, 255, 0.7)
                    ),
                    url(/media/images/lego_bg.jpeg);
}

demo-content {
  justify-content: flex-start;
  align-items    : stretch;
  flex-flow      : column;
  flex           : 1 1 auto;
}

demo-title {
  font-size  : 1.7em;
  cursor     : default;
  text-align : center;
}

demo-bold-text {
  align-items    : center;
  justify-content: center;
  text-align     : center;
  font-size      : 2.1em;
  padding        : 20px;
  cursor         : default;
  background     : $fallback-color;
  background     : rgba(0, 0, 0, 0.20);
  box-shadow     : 0 0 20px -2px #000;
}

demo-button-options {
  display        : flex;
  flex-flow      : column;
  justify-content: space-around;
  align-items    : center;
  flex           : 1 1 100%;
  background     : $fallback-color;
  background     : rgba(0, 0, 0, 0.15);
}