demo-header,
demo-content,
demo-bold-text,
demo-button-options, {
  display    : flex;
  user-select: none;
}

demo-header {
  align-items    : center;
  justify-content: space-around;
  flex           : 0 1 100%;
  background     : $fallback-color;
  background     : linear-gradient(
                      rgba(255, 255, 255, 0.7),
                      rgba(255, 255, 255, 0.7)
                    ),
                    url(/media/images/lego_bg.jpeg);
}

demo-content {
  justify-content: flex-start;
  align-items    : stretch;
  flex-flow      : column;
  flex           : 1 1 auto;
   background: url(/artprize/images/block_floor.jpg);
}

demo-title {
  font-size  : 1.7em;
  cursor     : default;
  text-align : center;
}

demo-bold-text {
  align-items    : center;
  justify-content: flex-start;
  text-align     : center;
  font-size      : 1.1em;
  padding        : 10px;
  cursor         : default;
  background     : rgba(68, 218, 195, 0.65);
  color          : #fff;
  text-shadow    : 1px 1px 5px #000;
  background: url(/media/images/lego_bg.jpeg);
}

demo-text-basic {
  align-items    : center;
  justify-content: flex-start;
  text-align     : right;
  font-size      : 0.75em;
  padding        : 10px;
  cursor         : default;
  background     : rgba(68, 218, 195, 0.65);
  color          : #fff;
  text-shadow    : 1px 1px 2px #000;
  font-family    : Arial;
  font-weight    : bold;
}

demo-button-options {
  display        : flex;
  flex-flow      : column;
  justify-content: space-around;
  align-items    : center;
  flex           : 1 1 100%;
  background     : $fallback-color;
  background     : rgba(0, 0, 0, 0.15);
}