// Global Stylesheets
@import "resources"; // Colors, Dimensions & other variables
@import "sections";  // Sections
@import "buttons";   // Buttons
@import "artprize";   // Buttons

body {
  display        : flex;
  flex-flow      : column;
  align-items    : stretch;
  justify-content: flex-start;
  width          : 100vw;
  height         : 100vh;
}

ng-view {
  display  : flex;
  flex-flow: column;
  flex     : 1 1 auto;
}

ng-view a-scene {
  height: 100vh;
}