<a-scene fog="type: linear; color: #000; near: 3; far: 15;">
  <a-assets>
    <!-- Images -->
    <img id="poster1" src="images/poster_1.png">
    <img id="poster2" src="images/poster_2.png">
    <img id="poster3" src="images/poster_3.png">
    <img id="poster4" src="images/poster_4.png">

    <!-- Models -->
    <a-asset-item id="robot" src="models/robot.dae"></a-asset-item>
  </a-assets>

  <!-- Camera -->
  <a-entity camera="userHeight: 1.6" look-controls></a-entity>

  <!-- Lights -->
  <a-entity light="type:directional; castShadow:true; color:#777;" position="0 0.5 0.15"></a-entity>
  <a-entity light="type:directional; castShadow:true; color:#555;" position="0.15 0.5 0"></a-entity>
  <a-entity light="type:directional; color:#111;" position="0.1 -0.5 0"></a-entity>

  <!-- Posters -->
  <a-image src="#poster1" position="0 8 -6" rotation="23 0 0" width="8" height="10"></a-image>
  <a-image src="#poster2" position="0 8 6" rotation="23 180 0" width="8" height="10"></a-image>
  <a-image src="#poster3" position="-6 8 0" rotation="23 90 0" width="8" height="10"></a-image>
  <a-image src="#poster4" position="6 8 0" rotation="23 -90 0" width="8" height="10"></a-image>

  <!-- Robot -->

  <a-entity position="-3.1 0 0">
    <a-text value="Robot 1" color="red" position="0 1.5 0.17" rotation="0 90 0" scale="0.5 0.5 0.5" ></a-text>
    <a-collada-model src="#robot" position="0 0.16 0" rotation="0 90 0" scale="0.2 0.2 0.2" shadow="cast: true; receive: true"></a-collada-model>
    <a-cylinder position="0 0.1 0" radius="0.4" height="0.1" color="red" shadow="cast: true; receive: true"></a-cylinder>
    <a-animation attribute="rotation"
       dur="4000"
       fill="forwards"
       to="0 360 0"
       easing="ease-in-out"
       repeat="indefinite"></a-animation>
  </a-entity>

  <!-- status messages -->
  <a-text value="{{status}}" color="#329e8c" position="-0.35 1 -1" rotation="0 0 0" scale="0.30 0.30 0.30" ></a-text>
  <a-text value="{{robotStatus}}" color="#329e8c" position="-1 1 0.25" rotation="0 90 0" scale="0.30 0.30 0.30" ></a-text>
  <a-text value="{{viewers}}" color="#329e8c" position="1 1 -0.5" rotation="0 -90 0" scale="0.30 0.30 0.30" ></a-text>
  <a-plane ng-repeat="plane in planes" position="{{plane.position}}" rotation="{{plane.rotation}}" width="{{plane.width}}" height="{{plane.height}}" color="{{plane.color}}" shadow="receive: true"></a-plane>
  <a-sky color="{{sky.color}}"></a-sky>

  <a-box ng-repeat="block in blocks" position="{{block.position}}" rotation="{{block.rotation}}" color="{{block.color}}" scale="0.5 0.5 0.5" shadow="cast: true; receive: true"></a-box>
</a-scene>