// Colors
$primary-button-color                  : #58B4A8;

// Fonts & Font Styles
$primary-button-font-family            : Arial, sans-serif;
$primary-button-font-size              : 1.3em;
$primary-button-font-color             : rgba(0, 0, 0, 0.75);

// Dimensions
$default-button-height                 : 40px;
$primary-button-padding                : 40px;
$primary-button-border-radius          : 3px;

// Effects
$primary-button-cursor                 : pointer;
$primary-button-text-shadow            : inset 0px 1px 1px #fff;
$primary-button-shading                : inset 0 0 30px -10px #000;

// Icons & Images
