// Global Stylesheets
@import "resources"; // Colors, Dimensions & other variables
@import "buttons";   // Buttons

body {
  display        : flex;
  flex-flow      : column;
  align-items    : center;
  justify-content: space-around;
  width          : 100vw;
  height         : 100vh;
}